<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    	<div id="header">
    		<div class="">{{ title }}</div>
    		<div id="navbar">
    			{% block navbar %}
    				<ul>
    					<li><span id="user">{{ request.user.username }}</span>&nbsp;<a id="logout" href="/accounts/logout">(Logout)</a></li>
    					<li><a href="{% url 'accounts.views.account_show'  %}">Show Userdata</a></li>
    					<li><a href="{% url 'adressbook.views.adress_list' %}">Adressbook</a></li>
    					<li><a href="{% url 'mail.views.mailaccount_list' %}">Mail Accounts</a></li>
    					<li><a href="{% url 'mail.views.mailaccount_select' %}">Show Messages</a></li>
    				</ul>
    			{% endblock %}
    		</div>
    	</div>
    	<div id="content">
    		<div id="content_left">{% block content_left %}{% endblock %}</div>
    		<div id="content_right">{% block content_right %}Welcome{% endblock %}</div>
    	</div>
    	<div id="footer">{% block footer %}Project CM - Software Engineering Project - Andreas Haberl - Tobias Engelmann - Tobias Seber{% endblock %}</div>
    </body>
</html>