<!-- {% if user.is_authenticated %}
    <p>
    Welcome, {{ user.username }}
    <a href="/accounts/password_change">[Change Password]</a>
    <a href="/accounts/logout">[logout]</a>
    </p>
{% else %}
    <p>Welcome, Guest <a href="/accounts/login">[login]</a></p>
{% endif %}


<!DOCTYPE html>
<html>
	<head>
		<title></title>

	</head>
	<body>
		<h1>ProjectCM Main Page</h1>
		<b>Hello {{ request.user.username }}</b> <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a><br><br>
		<a href="{% url 'userdata.views.userdata_show' %}">Show Userdata</a> 
		<a href="{% url 'adressbook.views.adress_list' %}">Adressbook</a> 
	</body>
</html>
 -->